* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  background-color: rgb(43, 110, 236);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

nav h1 a {
  font-size: 22px;
}

nav a {
  color: white;
  margin: 0 20px;
  font-size: 18px;
}

nav a:hover {
  color: rgb(0, 51, 146);
}

.container {
  margin: 20px;
}

.blog-card {
  margin: 20px 0;
  border-left: 5px solid rgb(43, 110, 236);
  padding: 10px;
}

.blog-card h1 {
  margin-bottom: 10px;
  margin-right: 10px;
}

.blog-header {
  display: flex;
}

.blog-card p {
  margin-bottom: 10px;
}
/* blog create page css */
.blog-form {
  max-width: 800px;
  margin: auto;
  border: 1px solid lightrgb(43, 110, 236);
  padding: 40px;
}

.blog-form h1 {
  color: rgb(43, 110, 236);
}

.blog-card a:active,
.blog-card a:visited {
  color: rgb(43, 110, 236);
}

.form-group {
  margin: 10px 0;
}
.form-group label {
  font-size: 18px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgb(43, 110, 236);
}

.blog-create-btn {
  background-color: rgb(43, 110, 236);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid rgb(43, 110, 236);
  color: white;
}

.blog-delete-btn {
  background-color: red;
  border: 1px solid red;
  color: white;
  border-radius: 5px;
  padding: 3px;
  margin: 1px;
}

.blog-detail * {
  text-align: center;
}

.blog-detail h1 {
  margin-bottom: 20px;
}
